.mr-5{
		transition:.5s all;
    color:white;
		}
		.mr-5:hover{
		color:yellow;	
		}
		#pg-heading{
      font-family:Caveat;
		text-transform:uppercase;
			font-size:45px;
      background:linear-gradient(to right,darkviolet,dodgerblue,skyblue,mediumspringgreen,yellow,orange,red);
      -webkit-background-clip: text;
      -webkit-text-fill-color:transparent;
      -webkit-text-stroke:.2px white;
      animation:rr 20s linear infinite;

		}
    #globe{
      /* background-image:conic-gradient(70deg,darkviolet,dodgerblue,skyblue,mediumspringgreen,yellow,orange,red); */
      background-image: conic-gradient(darkviolet,dodgerblue,skyblue,mediumspringgreen,yellow,orange,red);
      -webkit-background-clip: text;
      -webkit-text-fill-color:transparent;
      -webkit-text-stroke:.2px white;
      animation:zz 1.5s linear infinite;
    }
    @keyframes zz {
      0%{
        filter:hue-rotate(0deg);
      }
      100%{
        filter:hue-rotate(720deg);
      }
    }
    @keyframes rr{
      0%{
        background-position:0vw;
      }
      100%{
        background-position:500vw;
      }
    }
